<h1>Form experiments</h1>

<form action="/goodbye">

  <label for="name_one">First name</label>
  <input type="text" name="first_name" id="name_one">

  <label for="name_two">Last name</label>
  <input type="text" name="last_name" id="name_two">

  <button>Go to /goodbye</button>
</form>
