<h1>Calculate monthly payment</h1>

<form action="/payment/results">
<label for="apr">APR</label>
<input type="text" name="user_apr" id="apr" placeholder= "Interest in percent">

<label for="number_of_years">Number of years</label>
<input type="text" name="user_num_of_years" id="number_of_years" placeholder= "How many years to repay?">

<label for="principal">Principal</label>
<input type="text" name="user_principal" id="principal" placeholder= "Loan amount?">


<button>Calculate monthly payment</button>
</form>
