<h1>Monthly payment results</h1>

<%#= params %>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%=@the_apr.to_fs(:percentage, {:precision => 4})%>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%=@the_number_of_years%>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%=@the_principal.to_fs(:currency)%>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%=@payment.to_fs(:currency)%>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
