<%# executes the Ruby code %>
<%#= prints information to the erb file %>

<%#= params %>

<h1>Results of square calculation</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_num %>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%= @the_results %>
  </dd>
</dl>

<a href="/square/new">
  Calculate another square
</a>
