<h1>Calculate the square of a number</h1>

<form action="/square/results">
<label for="number">Enter a number
</label>
<input type="text" name="user_num" id="number"> 
<button>Calculate square</button>
</form>


<!--does the input id have to be different for each erb file? 
Or does it only have to be unique if you have two inputs?-->
