<h1>Results of square root calculation</h1>

<%#= params %>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%=@the_num%>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%=@the_results%>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
